@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --toggleHeight: 16em;
    --toggleWidth: 30em;
    --toggleBtnRadius: 10em;
  
    --bgColor--night: #423966;
    --toggleBtn-bgColor--night: var(--bgColor--night);
    --mooncolor: #D9FBFF;
    --bgColor--day: #9ee3fb;
    --toggleBtn-bgColor--day: var(--bgColor--day);
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

body{
    /* background-image: linear-gradient(135deg, #0F2027, #203A43, #2C5364); */
    background: linear-gradient(135deg, #121826, #1a1e2b);
}

.light {
    background: #FFFFFF;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%); /* Matching the gradient */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Makes sure preloader appears on top */
}

/* modern animation */
.loader {
    display: flex;
    justify-content: space-between;
    width: 120px;
    position: relative;
}

.dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #4facfe;
    animation: dotAnimation 1.5s ease-in-out infinite;
}

.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.3s;
}

.dot:nth-child(3) {
    animation-delay: 0.6s;
}

#check{
    display: none;
}

.container{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.light .card {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.card{
    overflow: hidden;
    position: relative;
    width: 400px;
    background-color: #1B263B;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}

.light .card:before {
    background: #E3E6EB;
}

.card:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 270px;
    top: 0;
    left: 0;
    background-color: #0D1B2A;
    clip-path: circle(400px at 50% -48.5%);
}

.header{
    position: relative;
    height: 265px;
}

.tdnn {
    top: 1.4rem;
    right: 1.9rem;
    font-size: 15%;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    height: 16em;
    width: 30em;
    border-radius: 16em;
    transition: all 500ms ease-in-out;
    background: var(--bgColor--night);
  }
.day{
    background: #FFBF71;
  }
.moon {
    position: absolute;
    display: block;
    border-radius: 50%;
    transition: all 400ms ease-in-out;
    
    top: 3em;
    left: 3em;
    transform: rotate(-75deg);
    width: var(--toggleBtnRadius);
    height: var(--toggleBtnRadius);
    background: var(--bgColor--night);
    box-shadow: 
      3em 2.5em 0 0em var(--mooncolor) inset,
      rgba(255, 255, 255, 0.1) 0em -7em 0 -4.5em,
      rgba(255, 255, 255, 0.1) 3em 7em 0 -4.5em,
      rgba(255, 255, 255, 0.1) 2em 13em 0 -4em,
      rgba(255, 255, 255, 0.1) 6em 2em 0 -4.1em,
      rgba(255, 255, 255, 0.1) 8em 8em 0 -4.5em,
      rgba(255, 255, 255, 0.1) 6em 13em 0 -4.5em,
      rgba(255, 255, 255, 0.1) -4em 7em 0 -4.5em,
      rgba(255, 255, 255, 0.1) -1em 10em 0 -4.5em;
  }
.sun {
    top: 4.5em;
    left: 18em;
    transform: rotate(0deg);
    width: 7em;
    height: 7em;
    background: #E3A72F;
    box-shadow: 3em 3em 0 5em #fff inset,
      0 -5em 0 -2.7em #fff,
      3.5em -3.5em 0 -3em #fff,
      5em 0 0 -2.7em #fff,
      3.5em 3.5em 0 -3em #fff,
      0 5em 0 -2.7em #fff,
      -3.5em 3.5em 0 -3em #fff,
      -5em 0 0 -2.7em #fff,
      -3.5em -3.5em 0 -3em #fff;
  }

.hamburger-menu{
    position: absolute;
    width: 20px;
    height: 16px;
    top: 1.4rem;
    left: 1.9rem;
    z-index: 3;
    cursor: pointer;
    transition: .3s;
    opacity: .8;
}

.hamburger-menu:hover{
    opacity: 1;
}

.light .hamburger-menu .center,
.light .hamburger-menu::before,
.light .hamburger-menu::after {
    background-color: #333333;
}

.hamburger-menu .center{
    position: absolute;
    height: 2px;
    width: 70%;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border-radius: 1px;
}

.hamburger-menu:before, .hamburger-menu:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
}

.hamburger-menu:before{
    top: 0;
}

.hamburger-menu:after{
    bottom: 0;
}

.light .sidebar {
    background-color: #F5F5F5;
}

.sidebar {
	background-color: #0005;
    position: absolute;
    top: 50px;
    left: 15px;
    opacity: 0; /* Start hidden */
    transform: translateX(-100%); /* Initially hidden off the screen */
    visibility: hidden; /* Hidden from interaction until the animation starts */
    transition: opacity 0.5s ease, transform 0.5s ease;
    width: 45%;
    backdrop-filter: blur(12.5px);
    z-index: 1;
    border-radius: 10px;
    border: 1px solid #00000025;
}

.sidebar.active {
    opacity: 1;
    transform: translateX(0); /* Move to the visible position */
    visibility: visible;
}

.light .sidebar a {
    color: #333333;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    justify-content: center;
    display: flex;
    font-family: 'Poppins', sans-serif;
    transition: .3s;
}

.sidebar a:hover {
    transform: scale(1.2);
}

.main{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .image{
    position: relative;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: url('img/profile.jpg') no-repeat center / cover;
    border: 4px solid #00d8fe;
    margin-bottom: 2px;
    overflow: hidden;
    cursor: pointer;
}

.image .hover{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(79, 172, 254, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: .5s;
    opacity: 0;
}

.image:hover .hover{
    opacity: 1;
}

.hover.active{
    opacity: 1;
}

.light .name {
    color: #333333;
}

.name{
    font-size: 1.2rem;
    font-family: 'Montserrat';
    color: #fff;
    font-weight: 600;
    line-height: 1;
    margin: 5px 0;
}

.light .sub-name {
    color: #555555;
}

.sub-name{
    font-family: 'Lora';
    font-style: italic;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: .8;
    color: #fff;
}
.content{
    display: flex;
    padding: 1.7rem 2.5rem 2.6rem 2.5rem;
}

.right{
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 2.1rem;
}

.number{
    font-size: 2.1rem;
    font-weight: 200;
    color: #333;
    line-height: 1.2;
}

.number-title{
    font-size: .55rem;
    color: #666;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.light .title {
    color: #007BFF;
}

.title{
    position: relative;
    color: #fff;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0 0 3px 0;
    margin-bottom: .9rem;
    display: inline-block;
}

.title:after{
    content: '';
    position: absolute;
    height: 3px;
    border-radius: 10rem;
    width: 50%;
    background-color: #fff;
    bottom: 0;
    left: 0;
}

.light .text {
    color: #444444;
}

.text{
    font-family: 'Open Sans';
    color: #fff;
    font-weight: 400;
    line-height: 1.7;
}

.icons-container{
    padding: 1rem 0;
}

.light .icon {
    color: #444444;
}

.icon{
    color: #c4c4c4;
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: 0.5rem;
    transition: .3s;
}

.light .icon:hover {
    color: #007BFF;
}

.icon:hover{
    color: #4facfe;
}

.buttons-wrap{
    display: flex;
    margin-top: 5px;
}

.light .follow {
    background: #007BFF;
    color: #FFFFFF;
}

.light .follow:hover {
    background: #0056B3;
    box-shadow: 0px 0px 10px rgba(0, 123, 255, 0.5);
}

.follow-wrap, .share-wrap{
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px rgba(59, 130, 246, 0.5);
  }

/* .follow-wrap:hover, .share-wrap:hover{
    flex: 5;
} */

.follow{
    padding: 9.6px 0;
    width: 100%;
    color: #fff;
    background: #2563EB;
    text-align: center;
    text-decoration: none;
    font-size: .7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 18.1px;
    margin-right: 3px;
    transition: all 0.5s;
}

.follow:hover{
    box-shadow: 0px 0px 10px rgba(59, 130, 246, 0.7);
    transform: scale(1.05);
}

.light .share {
    background: #FFFFFF;
    border: 2px solid #0056b3;
    color: #007BFF;
}

.share{
    padding: 7.6px 0;
    width: 100%;
    border: 2px solid #3B82F6;
    color: #3B82F6;
    text-decoration: none;
    text-align: center;
    font-size: .7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 3px;
    transition: all 0.5s;
    border-radius: 18.1px;
}

.light .share:hover {
    background: #007BFF;
    color: #FFFFFF;
}

.share:hover {
    background: #3B82F6;
    color: white;
}

.modal{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
    opacity: 0;
    transition: .5s;
    backdrop-filter: blur(5px);
}

.modal img{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.3);
    max-width: 100%;
    max-height: 100%;
    transition: .5s;
}

.modal.show{
    opacity: 1;
    z-index: 99;
}

.modal.show img{
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: .3s;
}

.close:hover{
    opacity: .5;
}

.close:before, .close:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 1.5px;
    top: 50%;
    left: 50%;
    background-color: #fff;
}

.close:before{
    transform: translate(-50%, -50%) rotate(45deg);
}

.close:after{
    transform: translate(-50%, -50%) rotate(135deg);
}

@media (max-width: 410px){
    .content{
        flex-direction: column;
    }

    .right{
        flex-direction: row;
        text-align: center;
        justify-content: space-around;
        align-items: center;
        margin: 0;
    }
}

@media (max-width: 370px){
    .header{
        height: 230px;
    }

    .card:before{
        clip-path: circle(400px at 50% -74.5%);
        height: 230px;
    }

    .hamburger-menu{
        width: 16px;
        height: 12px;
        top: 1.1rem;
        left: 1.5rem;
    }

    .mail{
        font-size: 1.1rem;
        top: .75rem;
        right: 1.5rem;
    }

    .main .image{
        width: 90px;
        height: 90px;
        border-width: 3px;
    }

    .name, .sub-name{
        font-size: 1rem;
    }

    .content{
        padding: 1.2rem 1.8rem 1.8rem 1.8rem;
    }

    .number{
        font-size: 1.8rem;
    }

    .number-title{
        font-size: .4rem;
    }

    .right{
        padding-top: 1rem;
    }

    .title{
        font-size: .9rem;
        margin-bottom: .5rem;
    }

    .text{
        font-size: .8rem;
    }

    .icons-container{
        padding: .5rem 0;
    }

    .icon{
        font-size: 1.1rem;
    }

    .follow{
        padding: 7.6px 0;
        border-radius: 14.6px;
        font-size: .6rem;
    }

    .share{
        padding: 5.6px 0;
        border-radius: 14.6px;
        font-size: .6rem;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 0.8;
    }
    50% {
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 0.8;
    }
}

/* Bounce Animation */

@keyframes dotAnimation {
    0%, 100% {
      transform: scale(1);
      background-color: #4facfe;
    }
    50% {
      transform: scale(1.5);
      background-color: #00f2fe;
    }
  }